@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body {
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-image: url(binding_dark.png);
	background-repeat: repeat;
	background-position: center center;
	background-attachment: fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    margin: 8px;
    padding: 0;
    
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 15px;
	text-align: center;
}
h1 {
	font-weight: 700;
}
h3 {
	font-style: italic;
	line-height: 5px; 
}
h5 {
	line-height: 0px;
}
